<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: "Sean Gupta Portfolio" }}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <h1 class="header-name">Sean Gupta</h1>
    </header>

    <main class="main-site-content">{{ content }}</main>

    <footer>
      <a class="a-contact" href="tel:9136874871">(913)-687-4871</a>
      <a class="a-contact" href="mailto:seangupta1@outlook.com"
        >seangupta1@outlook.com</a
      >
      <p>&copy; 2026 Sean Gupta. All rights reserved.</p>
    </footer>
  </body>
</html>
